// Default Color Background
$default-color-background:#F8F8F8;

// Font
$font-family:'Roboto','Open Sans', Arial, Helvetica, Verdana;
$font-roboto:'Roboto';
$font-opensans:'Open Sans';
$font-default:Arial, Helvetica, Verdana;
$font-size-default:14px;
$font-size-desc:13px;
$font-size-small:12px;
$font-size-small2:11px;
$font-size-title-product:15px;

// Weight
$font-weight-light:300;
$font-weight-bold:bold;

// Color
$black0:#000000;
$black1:#333333;
$grey0:#555555;
$grey1:#dddddd;
$grey2:#666666;
$grey3:#999999;
$grey4:#777777;
$white:#ffffff;
$orange:#FF6C00;
$blue0:#1C75BC;
$blue1:#517edf;
$blue2:#2266cc;
$blue3:#4b669c;
$green:#4F9C00;

// Float
$left:left;
$right:right;

// Icon
$no-repeat:no-repeat;
$repeat:repeat;

$border-default:1px solid #ddd;

$wrap:1240px;