@import 'dictionary';

*{
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}

ul, li{
	list-style:none;
	margin:0;
}

body{
	background-color:$default-color-background!important;
	font-family:$font-family!important;
	color:$black1!important;
	font-size:$font-size-default!important;
}

a{
	text-decoration:none!important;
	&:hover{
		text-decoration:none!important;
	}
}

.con:before,.con:after{
	content:"";
	display:table;
	line-height:0;
	height:0;
}

.con:after{
	clear:both;
}

.lte7 .con{
	zoom:1;
}

.wrap{
	width: 91%;
	margin:0 auto;
}

.container-fluid{
	padding:0;
}

p{
	line-height:22px;
}

.home-header{
	.logo{
		width:24%;
		margin:30px auto 22px;
	}
}

.button{
	background:$orange;
	color:$white;
	padding:5px;
	border-radius:3px;
	border: 3px solid #FFF;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);

	&:hover{
		box-shadow: 0 0 0 1px rgba(0,0,0,.2), inset 0 0 0 50px rgba(0,0,0,0);
		transition: .3s;
		color:$white;
	}
}

.price{
	color:$green;
	font-weight:$font-weight-bold;

	&:before{
		content: 'Rp ';
		font-weight: normal;
		display: inline-block;
		margin-right: 5px;
	}
}

.title{
	font-size:21px;
	color:$grey2;
}

.title-product-list{
	font-size:$font-size-title-product;
	overflow:hidden;
	word-break:break-all;
	line-height:22px;
	height:40px;
}

hr{
	height: 0px;
    background: rgba(0,0,0,.1);
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,1);
    box-shadow: 0 -1px 0 rgba(0,0,0,.1);
    margin:0;
}

.blue-title{
	font-size:26px;
	color:$blue3;
	margin-top:0;
	margin-bottom: 20px;
}

.input-form, .select-form{
	background:$white;
	border:$border-default;
	width: 100%;
    padding: 7px 10px;
    border-radius: 2px;
}

.select-form{

	&:focus{
		border-color: #999;
    	box-shadow: 0 0 0 2px rgba(0,0,0,.1);
	}
}

.checkbox{
	margin:0 0 15px;
}

.notif-bubble{
	display: inline-block;
	min-width: 15px;
	text-align: center;
	padding: 4px 5px;
	height: 23px;
	margin-top: -3px;
	border-radius: 8px 3px;
	background: $orange;
	color: $white;
}

.border-btm{
	border-bottom:$border-default;
}

ico{
	background:url(../images/sprite.svg) $no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	transition: .3s;
	background-size: 260px 260px;
	vertical-align:middle;
}

.btn-google{
    color: #fff !important;
    background-color: #d54636 !important;
     padding: 7px 22px;
    line-height: 10px;
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: 300;
    border: 1px solid #d54636!important;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4);

}


.btn-facebook {
    color: #fff !important;
    background-color: #354c8c !important;
     padding: 7px 17px;
     line-height: 10px;
    font-size: 1.1em;
    font-weight: 300;
    border: 1px solid #2e6697 !important;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    border: 1px solid #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
}

.alert{
	padding:5px 15px;
}

// Icon Position
.quotation{background-position:0 0;}
.kategori{background-position:-30px 0;}
.web{background-position:-90px 0;}
.aman{background-position:-120px 0;}
.akun{background-position:-150px 0;}
.cart{background-position:-180px 0;}
.katalog{background-position:-210px 0;}
.search{background-position:-240px 0;}
.trash{background-position:-210px -130px;}
.gear{background-position:-240px -130px;}
.favorite{background-position:-210px -110px;}
.cart-add{background-position:-180px 0;}
.email{background-position:-150px 0;}
.phone{background-position:-150px 0;}

.agraris{background-position:0 -30px;}
.pertanian-dan-produk-pangan{background-position:0 -30px;}
.metalurgi-mineral-dan-kimia,.member-reguler{background-position:-150px -30px;}
.elektrik{background-position:-60px -30px;}
.grocery{background-position:-90px -30px;}
.rumahtangg{background-position:-120px -30px;}
.peralatan-kantor{background-position:-120px -50px;}
.tekstil{background-position:-180px -30px;}
.fashion-tekstil-dan-aksesoris{background-position:0 -50px;}
.peralatan-elektronik{background-position:-30px -50px;}
.enerji{background-position:-60px -50px;}
.elektronik-dan-peralatan-rumah-tangga{background-position:-90px -50px;}
.peralatan-industri{background-position:-120px -70px;}
.percetakan{background-position:-150px -50px;}
.media-musik-dan-buku{background-position:-150px -50px;}
.teknologi-dan-telekomunikasi{background-position:-180px -50px;}
.otomotif-dan-transportasi{background-position:0 -70px;}
.konstruksi{background-position:-30px -70px;}
.kerajinan-dan-souvenir{background-position:-60px -70px;}
.peralatan-olahraga-dan-outdoor{background-position:-90px -70px;}
.industri{background-position:-120px -70px;}
.voucher-dan-layanan{background-position:-150px -70px;}
.kesehatan-dan-kecantikan{background-position:-180px -30px;}
.mainan-dan-bayi{background-position:-180px -70px;}

.facebook{background-position:-30px -90px;}
.twitter{background-position:-60px -90px;}
.youtube{background-position:0 -90px;}
.linkedin{background-position:-90px -90px;}

.nav-left{background-position:-240px -50px;}
.nav-right{background-position:-210px -50px;}
.nav-up{background-position:-240px -30px;}
.list-grid{background-position:-210px -70px;}
.list-semirow{background-position:-240px -70px;}
.list-row{background-position:-240px -90px;}
.list-filter{background-position:-210px -90px;}
.close-btn{background-position:-240px -110px;}
.close-btn{background-position:-240px -150px;}

.infoproduk{background-position:-60px -50px;}
.specproduk{background-position:-30px -30px;}
.sejarahtransaksi{background-position:-60px -30px;}
.pengiriman{background-position:-30px -70px;}
.delivery{background-position:-30px -70px;}
.infocompany{background-position:-120px -30px;}

.star05{background-position:0 -150px;}
.star04{background-position:0 -170px;}
.star03{background-position:0 -190px;}
.star02{background-position:0 -210px;}
.star01{background-position:0 -230px;}

ico.facebook, ico.twitter, ico.linkedin, ico.youtube {
    width: 30px;
    height: 30px;
}

// Header
.header{
	background:url(../images/home-search-bg.jpg) $no-repeat;
	min-height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	width:100%;
	height:330px;
	position:relative;
}

.global-header{
	position:relative;
	background:rgba(255,255,255,.5);
	box-shadow: 0 0 0 1px rgba(0,0,0,.06);
	padding: 7px 0;
	color:$grey4;
	width:100%;
	font-size:$font-size-desc;

	.col-md-7,.col-md-5{
		li{
			display:inline-block;
			padding: 3px 5px 4px 10px;
			position:relative;
		}
	}

	.register-top,.cart-top,.catalog-top{

		&:hover{
			background: #35455D;
		    padding: 5px 5px 5px 10px;
		    color: #FFF;
		    margin-top: -4px;
		    border-radius:2px;

		    ico{
			    -webkit-filter: invert(1);
			    -moz-filter: invert(1);
			    filter: invert(1);
			    opacity: 1;
			}

		    .submenu{
				display:block;
				box-shadow: 0 5px 10px rgba(0,0,0,.1),0 0 0 1px rgba(0,0,0,.2);
			    opacity: 1;
			    max-height: 500px;
			    visibility: visible;
			    overflow-y: auto;
			}
		}
	}

	.grey{
		color: #AAA !important;
	}

	.hotline{
		color:$orange;
		text-transform:uppercase;
		font-size:10px;

		strong{
			font-size:$font-size-desc;
		}
	}

	.col-md-7{
		ul{
			float:right;
			margin:0;
		}
	}

	ico{
		margin: -6px 5px 0 -4px !important;
	    opacity: .4;
	}

	.submenu{
		background: $white;
		padding: 10px;
		min-width: 190px;
		right: 1px;
		top:27px;
		border-radius: 0 3px 3px;
		position: absolute;
		z-index: 100;
		transition: .3s;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		color: #333;
		text-align: left;
		visibility: hidden;

		.login{
			border-bottom:$border-default;
			padding-bottom: 14px;
    		margin-bottom: 5px;
		}

		.forgot-password{
			font-size:11px;
			margin-bottom: 25px;
		}

		input[type="text"],input[type="password"]{
			width:100%;
			padding: 6px 10px;
    		margin-bottom: 5px;
    		border-radius:3px;
		}

		label{
			font-weight:normal;
			font-size:11px;
			vertical-align: middle;
			cursor: pointer;

			input{
				vertical-align: middle;
	    		margin: 0 5px 0 0;
			}
		}

		.button{
			border:0;
			padding:5px 10px;
			box-shadow:none;
			float:right;
			font-size:12px;
		}
	}

	.list-notif{
		float:none!important;

		li{
			float:none;
			padding:4px 0;

			&:nth-child(1){
				border-bottom:$border-default;
				margin-bottom:5px;

				&:hover{
					background:none;
					padding:4px 0;
				}
			}

			.notif-bubble{
				font-size:11px;
				float:right;
				height:20px;
				padding:3px 4px;
			}

			&:hover{
		    	background:$orange;
		    	padding:4px;

		    	a{
		    		color:$white!important;
		    	}

		    	.notif-bubble{
		    		border:1px solid #fff;
		    	}
		    }

			a{
			    font-size: 12px;
			    display: block;
			}

			&:nth-child(5){
				border-bottom:$border-default;
			}

			&:nth-child(9){
				border-bottom:$border-default;
				margin-bottom:10px;
			}
		}
	}

	.cart-top{

		.submenu{
			width:320px;
			padding:10px 0;

			p{
				padding:0 10px;
			}

			.cart-checkout{
				text-align:center;
				border-top:$border-default;
				padding:15px 0;
				margin:0 10px;

				strong{
					color:$orange;
					font-weight:bold;
					font-size:14px;
				}

				.button{
					float:none;
					font-size:14px;
				}
			}

			ul,li{
				float:none;
			}

			li{
				border-top:$border-default;
				&:last-child{
					border-bottom:$border-default;
				}
			}

			.imgbox{
				height: 30px;
			    width: 25px;
			    margin-bottom: 0;
			    background-color: #fff;
			    display: table-cell;
			    vertical-align: middle;
			    text-align: center;

			    img{
			    	max-width:30px;
			    	max-height:25px;
			    }
			}

			h2{
				font-size: 12px;
			    height: 34px;
			    margin: 0;
			    line-height: 17px;
				overflow:hidden;
				display: -webkit-box;
			    -webkit-line-clamp: 2;
			    -webkit-box-orient: vertical;
			    text-overflow: ellipsis;
			}

			ico{
				background-color: #111;
    			border-radius: 100%;
    			margin:5px 0!important;
			}

			li:hover{
				background-color:#eee;

				ico{
					background-color:#555;
				}
			}
		}
	}
}

.searchbox{
	width:100%;
	border-radius: 3px;
	background: $white;
	height: 40px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.2);
	transition: .3s;
	position:relative;

	&:before {
		content:'';
		background:url('../images/sprite.svg') no-repeat -315px 11px;
		background-size: 350px 350px;
		width:50px; 
		height:50px; 
		z-index: 10; 
		opacity: .1; 
		left:0;
		position:absolute;
	}

	.row{
		margin:0;
	}

	.col-md-5, .col-md-3{
		padding-right:0;
		padding-left:0;
	}

	.search-input{

		input{
			padding: 9px 15px 11px 40px;
			height: 40px;
			color: #777;
			width:100%;
			border-radius:3px 0 0 3px;
		}

		&:hover .search-suggestion-box {
		    max-height: 250px;
		    visibility: visible;
		    overflow: auto;
		    box-shadow: 0 0px 0 1px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2);
		}
	}

	.search-suggestion-box {
	    width: 100%;
	    position: absolute;
	    top: 50px;
	    left: 1px;
	    z-index: 100;
	    background: #FFF;
	    border-radius: 0 0 3px 3px;
	    border-top: 3px solid #fff;
	    padding-bottom: 10px;
	    max-height: 0;
	    visibility: hidden;
	    overflow: hidden;
	    transition: .2s;

	    a {
		    display: block;
		    padding: 7px 8px 9px 20px;
		    text-align: left;
		    border-bottom: 1px solid #eee;
		    color: #999;

		    &:hover{
			    background: #EEE !important;
			    color: #333;
			}
		}
	}

	.cat_selection {
	    position: relative;
	    z-index: 20;
	    cursor: pointer;

	    .cat_display {
		    display: inline-block;
		    border-left: 1px solid #ddd;
		    white-space: nowrap;
		    width: 100%;
		    text-overflow: ellipsis;
		    box-sizing: border-box;
		    padding: 16px 20px 15px;

		    &:after {
			    content: '';
			    display: block;
			    position: absolute;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    margin: auto 0;
			    width: 20px;
			    height: 20px;
			    background: url(../images/sprite.svg) $no-repeat -210px -30px;
			    background-size: 260px 260px;
			    opacity: .6;
			    transition: none;
			    transform: scale(.5, .5);
			}
		}
	}

	input[type="submit"]{
		background: #35455D;
	    padding: 13px 0 13px;
	    color: #FFF;
	    font-weight: bold;
	    font-size: 17px;
	    border-radius: 0 3px 3px 0;
	    transition: .2s;

	    &:hover{
	    	background: #222;
	    }
	}
}

.rfq-inf{
	font-size:$font-size-small2;
	color:$grey3;
	margin:16px 0;
	span{
		display:block;
	}
	strong{
		color:$black1;
		font-size:$font-size-small;
	}
}
.listing{
	.tittle{
		font-size:26px;
		color: #4b669c;
	}

	.list-item{
		li{
			background:$white;
			box-shadow:0 0 0 1px rgba(0,0,0,.07);

			&:hover{
				box-shadow: 0 0 0 4px #FFF, 0 0 0 5px rgba(0,0,0,.2), 0 4px 5px 5px rgba(0,0,0,.2);
			}
		}
	}

	.membership {
	    float: left;
	    position: relative;
	    margin-right: 5px;
	    top: -1px;
	    min-height: 50px;
	}
}

// Other Header
.other-header{
	margin:10px 0;

	.logo{
		margin:0;
		padding-left: 15px;
    	padding-right: 15px;
	}

	.box-width1 {
	    width: 15%;
	    float: left;
	}

	.box-width2 {
	    width: 55%;
	    float: left;
	}

	.box-width3 {
		width: 30%;
		float: left;
		text-align: right;
	}

	.searchbox{
		height:45px;
		width:100%;
		box-shadow:none;
		border:$border-default;
		margin:0 auto;

		&:hover{
			box-shadow:none;
			border:$border-default;
		}

		&:before{
			width:40px;
			height:43px;
			background-size: 350px 350px;
			background-position:-315px 5px;
		}

		.search-input{
			input{
				padding:9px 15px 11px 40px;
				height:43px;
			}
		}

		.cat_selection .cat_display{
			padding:12px 20px;
		}

		input[type="submit"]{
			padding:10px 0;
		}

		.search-suggestion-box{
			top:44px;
		}
	}
	.submit-post{
		transition: .3s;

		a{
			display:inline-block;
			background:$white;
			min-width: 45%;
    		padding: 12px 3%;
		    text-align: center;
		    color: $black1;
		    border-radius: 3px;
    		box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    		margin-left:10px;
		}

		ico{
			margin-right: 10px;
		    opacity: .4;
		    -webkit-transform: scale(1.2, 1.2);
		    -ms-transform: scale(1.2, 1.2);
		    transform: scale(1.2, 1.2);
		}
	}
}

// Breadcrump
.breadcrump{
	position:relative;
	li{
		padding: 11px 5px;
	    color: #444;
	    float: left;

	    &:before{
	    	content: '';
		    display: inline-block;
		    width: 20px;
		    height: 20px;
		    background: url(../images/sprite.svg) no-repeat -210px -50px;
		    background-size: 260px 260px;
		    opacity: .3;
		    float: right;
		    transform: scale(0.5, 0.5);
	    }

	    ico{
	    	opacity:.6;
	    	margin-right:10px;
	    }

	    &:last-of-type{
	    	color:$blue0;

	    	&:before{
	    		content: '';
	    		background-position:-210px -30px;
	    	}
	    }

	    &:hover .subkategori,&:hover .kategoribox{
	    	max-height: 550px;
		    visibility: visible;
		    display: block
	    }

	    .kategoribox{
			li{
				padding:2px 0;
			}
		}
	}

	.subkategori,.kategoribox{
		background:black;
		width:100%;
		position:absolute;
		z-index:2;
		top: 35px;
    	right: 0;
		max-height: 0;
		overflow: inherit;
		padding: 20px;
    	background: #F8F8F8;
    	border-radius: 0 0 3px 3px;
    	border: 1px solid rgba(0,0,0,0);
	    border-width: 0 1px;
	    box-shadow: 0 5px 7px rgba(0,0,0,.1);
	    border: $border-default;;
	    border-top: 0;
	    transition-delay: .5s;
	    transition: .3s;
	    visibility: hidden;
	    overflow: hidden;
		li{
			&:before{
				content:'';
				display:none;
			}
		}
	}

	.subkategori{
		li{
			padding:3px 0;
			font-size:11px;
			width:20%;

			a{
				color:#aaa;

				&:hover{
					color: #000;
    				border-bottom: 1px solid #CCC;
				}
			}
		}
	}
}

// Footer

.footer{
	font-weight:$font-weight-light;
	color:$grey3;
    padding: 30px 0 10px;

	ico{
		opacity: .6;
    	margin: 0 8px 0;
	}
    
    h3{
    	margin:0 0 10px;
	    float: left;
	    width: 100%;
	    border-bottom: $border-default;
	    padding:6px 0;
	    color: #333;
	    font-size: 17px;
    	font-weight: normal;
    }

    li{
    	padding: 5px 0;
    	font-weight: 300;

    	a{
    		color: #666;
    		border-bottom: 1px solid rgba(0,0,0,0);
    	}
    }

    .footer-city{
    	text-align:center;
   		margin: 22px 0;

   		ul{
   			padding:20px 0;
   		}

    	li{
    		padding:0;
    		display: inline-block;
    		margin: 0 8px;
    	}
    }
}