
// Header
.searchbox{
	width:65%;
	margin:0 auto;
	height:50px;
	box-shadow: 0 0 25px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.2);
	margin-bottom: 40px;

	&:before{
		top: 0;
	    background-size: 450px 450px;
	    background-position: -405px 7px;
	}

	&:hover {
	    box-shadow: 0 0 25px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.2), 0 0 0 8px rgba(0,0,0,.1);
	}

	.search-input{
		input{
			height:50px;
			padding:15px 6px 17px 55px;
		}
	}
}
.home-button-top{
	margin:0 auto;
	text-align:center;

	a{
		font-size: 17px;
		padding: 12px 0;
		width: 240px;
		display: inline-block;
		text-align: center;
		box-shadow:0 0 0 1px rgba(0,0,0,.2), 0 0 20px rgba(0,0,0,.2);
		border:0;

		&:hover{
			color:$white;
		}

		&:first-child{
			margin-right:15px;
			}
	}

	ico{
		margin-right: 10px;
		opacity: .4;
		-webkit-transform: scale(1.3, 1.3);
		-ms-transform: scale(1.3, 1.3);
		transform: scale(1.3, 1.3);
	}
}

// Kategori
.kategoribox {
	padding: 10px 0;
	background: none;
	border-radius: 3px;
	margin-bottom: 0;

	li {
		float: $left;
		display: inline-block;
		width: 25%;
		box-sizing: border-box;
		text-transform: capitalize;

		a {
			padding: 2px 5px 2px 12px;
			display: block;
			color: #333;
		}
	}

	ico {
		opacity: .6;
		-webkit-transform: scale(1.1, 1.1);
		-ms-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
		margin-right:12px;
	}
}

// Featurebar
.featurebar{
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	margin-bottom: 10px;

	ul{
		margin-bottom:0;
	}

	li {
		display: inline-block;
		width: 25%;
		margin-left: -4px;
		box-sizing: border-box;
		font-size: 17px;
		font-weight: 300;
		color: #1C75BC;
		border-bottom: 3px solid rgba(0,0,0,0);

		&:first-child{
			border-left-width: 0px;
		}

		a{
			display: block;
			width: 100%;
			color: inherit;
			padding: 15px 12px 14px;
		}

		&:hover{
			color: #444;
			transition: .3s;
			border-bottom: 3px solid #333;
		}
	}

	ico {
		opacity: .2;
		margin: -3px 20px 0 5px;
		-webkit-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
	}
}

// Carousel
.carousel-indicators {
	left:0;
	right:0;
	margin:0 auto;
	bottom:-25px;

	.active {
		background:$blue0;
	}

	li {
		border:0;
		background:$black0;
	}
}
.carousel{
	img {
		margin:0 auto;
		}
}

// New List
.new-list {
	margin: 60px 0 0;

	h3{
		font-weight:normal;
		text-align:center;
	}
}

.thumb-gallery{
	.bigimg{
		box-shadow: 0 0 0 1px #DDD;
    	height: 375px;
    	background:$white;

    	.imgbox{
    		width: 100%;
		    height: 100%;
		    position: relative;
		    background: #FFF;

		    img{
		    	position: absolute;
			    max-width: 100%;
			    max-height: 100%;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    margin: auto;
		    }
    	}
	}

	.smallimg{
		li{
			box-shadow: 0 0 0 1px #DDD;
			transition: .3s;
			background:$white;
			height:125px;
			cursor: pointer;

			.trigger{
				width:100%;
				height:100%;
			}

			.imgbox{
				width: 100%;
			    height: 100%;
			    position: relative;
			    background: #FFF;

				img{
					position: absolute;
				    max-width: 100%;
				    max-height: 100%;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    margin: auto;
				}
			}

			&:hover {
				box-shadow: 0 0 0 5px #FFF, 0 0 0 6px rgba(0,0,0,.4), 0 8px 8px rgba(0,0,0,.2), 7px 7px 5px rgba(0,0,0,.1);
				z-index: 2;
			}
		}
	}
}

.product-info{
	li{
		display:none;
	}
}

.product-info-list{
	h2{
		font-size: 18px;
	    line-height: 23px;
	    height: 45px;
	    overflow: hidden;
	    text-transform: capitalize;
	    margin-bottom: 5px;
	    color: #000;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	    text-overflow: ellipsis;
	}

	.price {
	    font-size: 17px;
	}

	.hargabox{

		.minorder{
			padding:0;
		}

		.minorder,.stock{
			font-size: 11px;

			span{
	    		color: #999999;
	    		display:block;
			}

			strong{
				font-size:12px;
			}		
		}
	}

	.buythis{
		text-align:center;
		border-bottom:1px solid #ddd;
		margin-top: 70px;
    	padding-bottom: 15px;

		.button{
			display:inline-block;
			font-size: 16px;
			padding: 9px 6px;
		}
	}
}

.new-rfq{
	li{
		border: $border-default;
	    background: #FFF;
	    padding:15px 0;
	    margin-bottom:5px;
	    font-size:$font-size-desc;

    	h4{
    		font-size:$font-size-desc;
    		font-weight:bold;
    		width: 100%;
    		max-height: 30px;
    		white-space: nowrap;
    		overflow:hidden;
    		text-overflow: ellipsis;
    		margin:0;

    		a{
    			color:$black0;
    		}
    	}

    	.membership{
    		margin-top:10px;
    	}

    	h2{
    		font-size:$font-size-desc;
    		color:$black1;
    		font-weight:normal;
    		display:inline-block;
    		margin:0;
    	}

    	small{
    		margin-left:22px;;
    		color:$grey2;
    	}

    	p{
    		line-height:20px;
    		margin:10px 0 0;
    	}

    	img{
    		margin-right:5px;
    		vertical-align:middle;
    	}

    	.col-md-5{
    		border-left: $border-default;
    	}

    	.price{
    		font-size:18px;
    	}

    	.button{
    		padding:9px 6px;
    		font-size:16px;
    		display: inline-block;

    		a{
    			color:$white;
    		}

    		&:hover{
    			color:$white;
    		}
    	}
	}

	.other-newreq{
		float:right;
		color:$grey2;
		font-size:15px;
	}
}

//Tutorial
.home-tittle{
	margin-top: 65px;

	h2{
		font-size:26px;
		color: #4b669c;
		padding:26px 0;
		margin:0;
		text-align:center;
	}
}

.secure2{
	display:none;
}

.desc-ind{
	.row {
	    padding: 50px 0;
	    margin-right:0;
	    margin-left:0;
	}

	.col-md-6{
		padding-right:0;
		padding-left:0;
	}

	.desc-ind-capt{
		padding:40px 0 0 30px;
	}

	.title{
		color: #4b669c;
	    font-weight: $font-weight-light;
	    font-size: 34px;
	    margin-bottom: 20px;
	}

	ico{
	    -webkit-transform: scale(2, 2);
	    -ms-transform: scale(2, 2);
	    transform: scale(4, 4);
	    opacity: .2;
	    margin-right: 40px;
	}

	p{
		padding: 0 50px 0 67px;
		font-weight: $font-weight-light;
	    height: 90px;
	    overflow: hidden;
	    display: -webkit-box;
	    -webkit-line-clamp: 4;
	    -webkit-box-orient: vertical;
	    text-overflow: ellipsis;
	}

	.button {
		margin-left:67px;
	    padding: 9px 6px;
	    font-size: 16px;
	    display: inline-block;
	}
}

.seo-ind{
	margin-top:25px;
	margin-bottom:50px;

	h2{
		color:#4b669c;
		font-size:21px;
	}

	p{
		font-weight: $font-weight-light;
	}
}