.listing-type{
	background-color:$white;
	border:$border-default;
	border-radius:3px;
	display:inline-block;

	li{
		float:left;
		margin-bottom:0!important;
		padding:5px;

		&:nth-child(2){
			border-right:$border-default;
			border-left:$border-default;
		}

		a{
			color:$grey2;
		}
	}
	.current{
		background-color:#e8e8e8;
	}
}

.sortby{
	background-color:$white;
	border:$border-default;
	border-radius:3px;

	.col-md-5,.col-md-7{
		padding:0;
	}

	.search-suggestion-box{
		width: 100%;
    	position: absolute;
    	top:30px;
    	z-index: 100;
	    background: $white;
	    border-radius: 0 0 3px 3px;
	    padding-bottom: 10px;
	    max-height: 0;
	    visibility: hidden;
	    overflow: hidden;
	    transition: .2s;

	    a{
	    	display:block;
	    }
	}

	.cat_selection {
	    position: relative;
	    z-index: 1;
	    cursor: pointer;
	    display: inline-block;
	    width:100%;

	    .cat_display{
		    width: 100%;
	    	overflow:hidden;
	    	display: inline-block;
    		border-left: 1px solid #ddd;
   			white-space: nowrap;
   			text-overflow: ellipsis;
    		box-sizing: border-box;

    		&:after {
			    content: '';
			    display: block;
			    position: absolute;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    margin: auto 0;
			    width: 20px;
			    height: 20px;
			    background: url(../images/sprite.svg) $no-repeat -210px -30px;
			    background-size: 260px 260px;
			    opacity: .6;
			    transition: none;
			    transform: scale(.5, .5);
			}
	    }
	}
	.search-input:hover .search-suggestion-box {
	    max-height: 250px;
	    visibility: visible;
	    overflow: auto;
	    box-shadow: 0 0px 0 1px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2);
	}
}

.listing-request{
	li{
		margin-bottom:10px;
		h3{
			font-size:14px;
			max-height: 37px;
		    word-break: break-all;
		    overflow: hidden;
		    color: $grey0;
		    font-weight:bold;
		    margin:24px 0;
		    line-height:20px;
		}
		.seller-info{
			font-size:12px;
			margin:26px 0;
		}
		.seller-name {
		    max-height: 40px;
		    word-break: break-all;
    		overflow: hidden;
		}
		.lokasi{
			color: #666;
		}
		.hargabox{
			margin:15px 0;
		}
		.price{
			font-size:17px;
		}
		.rfq-inf{
			margin:0;
		}
		.button{
			padding: 9px 6px;
    		font-size: 16px;
    		display:inline-block;
		}
		.product-desc{
			margin-bottom:10px;
		}
		p{
			height: 42px;
		    overflow: hidden;
		    color: #666;
		    line-height: 20px;
		}
	}
}