
@media screen and (min-width: 1991px){
	.other-header{
		.searchbox{
			width:100%;
		}

		.submit-post{
			margin-top:20px;
		}
	}
}

@media screen and (max-width: 1305px){
	.new-rfq .rfq-inf span{
		width: 100%;
	    max-height: 13px;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    display: inline-block;
	}
}

@media only screen and (max-width: 1265px){
	.kategoribox{
		font-size:13px;

		li a{
			width: 100%;
		    max-height: 24px;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    display: inline-block;
		}
	}

	.new-rfq{
		li{

			h2{
				width: 90%;
			    max-height: 30px;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}

			p{
				max-height:60px;
				overflow:hidden;
				display: -webkit-box;
			    -webkit-line-clamp: 3;
			    -webkit-box-orient: vertical;
			    text-overflow: ellipsis;
			}

			img{
				margin-top:-7px;
			}
		}
	}

	.featurebar li a{
		max-height: 53px;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}

	.product-info-list .price{
		font-size:15px;
	}

	.desc-ind .title{
		font-size:30px;
	}
	
}

@media only screen and (max-width: 1202px){
	.other-header{
		.box-width2{
			width:83.5%;
		}
		.box-width3{
			width:100%;
			text-align:center;

			.submit-post{
				margin:10px 0 0;

				a{
					width:48.3%;
					margin:0;

					&:focus{
						background-color:#ddd;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1147px){
	.other-header{
		.box-width1{
			width:100%;

			.logo{
				width:24%;
				margin:15px auto;
			}
		}

		.box-width2{
			width:100%;

			.seacrhbox{
				width:100%;
			}
		}

		.box-width3{
			.submit-post{
				margin:0;
				a{
					width:50%;
				}
			}
		}
	}
	.static-box{
		.form-box{
			width:65%;
		}
	}
	.product-info-list .price{
		font-size:14px;
	}
}

@media only screen and (max-width: 1088px){
	.product-info-list{
		.hargabox{
			.col-md-6{
				float:none;
				margin-bottom:5px;
				display:block;
				width:100%;
			}

			.minorder{
				padding-left: 15px;
	    		padding-right: 15px;
	    		width:50%;
			}

			.stock{
				width:50%;
			}
		}

		.buythis .button{
			font-size:14px;
		}
	}
	.new-rfq{
		li{
			.price{
				font-size:16px;
			}

			.button{
				font-size:14px;
			}
		}
	}

	.desc-ind{
		.title{
			font-size:28px;
		}

		ico{
			transform: scale(3.5, 3.5);
			margin-right:30px;
		}

		p{
			padding:0 50px 0 60px;
		}

		.button{
		    margin-left: 60px;
		    font-size:14px;
		}
	}
}

@media only screen and (max-width: 991px){
	.welcome{
		text-align:center;
		margin-bottom:10px;
	}
	.global-header .col-md-7 ul{
		float:none;
		text-align:center;
	}
	.searchbox{
		width:99%;
	}

	.secure1{
		display:none;
	}

	.secure2{
		display:block;
	}

	.more-foot{
		margin-top:30px;
	}

	.other-header{
		.box-width1{
			.logo{
				width:30%;
			}
		}
	}

	.static-box {
		.form-box{
			width:85%;
		}
	}
}

@media only screen and (max-width: 767px){
	.other-header{
		.box-width1{
			.logo{
				width:35%;
			}
		}
	}

	.kategoribox{
		height: 158px;
    	overflow: hidden;

		li{
			width:33.3%;
		}
	}

	.static-box {
		.form-box{
			width:100%;
		}
	}

	.product-info-list {
		.price{
			font-size:16px;
		}
		
		.buythis {
			margin:0;
			border:none;

			.button{
				width:100%
			}
		}
	}
}