.static-box {
    background: #FFF;
    min-height: 250px;
    padding: 50px 20px;

    .form-box {
    	width:55%;
	    margin: 0 auto;
	    float: inherit;
	    padding: 30px 50px;
	    background: rgba(248,248,248,.9);
	    border-radius: 3px;
	    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 5px 8px rgba(0,0,0,.2);

	    input, select{
	    	margin-bottom: 15px;
	    }

	    .button{
	    	box-shadow:none;
	    	border:0;

	    	&:hover{
	    		box-shadow:none;
	    	}
	    }

	    dl{
			margin-bottom:0;

			dt{
				font-weight:normal;
			}
		}

		.box-button{
			text-align:right;

			.button{
				padding:12px 30px;
				margin-bottom:0!important;
			}
		}
	}

	.otherlink{
		margin-top:15px;

		.forgotpasslink{
			text-align:center;
		}

		.newuserlink{
			text-align:right;
		}
	}
}

.static-login{
	background:url(../images/static-bg02.jpg) no-repeat 0 -110px;

	.signwith{
		padding: 18px 0;
	}

	.loginwithform{
		padding: 18px 0;
	}
}

.static-register {
    background: url(../images/static-bg07.jpg) no-repeat 0 0;
    background-size: 100% 100%;

    .registerwithform{
	    padding: 18px 0;
    }

    .signwith{
	    padding: 18px 0;
    }

    .otherlink{
		.forgotpasslink{
			text-align:left;
		}
	}
}

.static-success{
	background: url(../images/static-bg03.jpg) no-repeat 0 0;
	text-align:center;

	.form-box

	h3{
		font-weight: 300;
		color:$black1;
		font-size:32px;
		margin:0;
		padding:20px 0 15px;
	}

	p{
		padding:15px 0 20px;
		font-weight:300;
	}
}